 <!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Goofspiel</title>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
    <!-- <script src="app.js"></script> -->
</head>
<body>
    <div class="cardContainer">
        <div class="player1Cards">
        <p class="playerNames">Bot Dave: &#x1F916;</p>
            <% game.hand2.forEach(function(card) { %>
                <span type="sumbit" name="card" value="<%= card %>">
                    <img class="cardsDisplay" src="/cards/backside.png" />
                </span>
            <% }) %>
        </div><br />

            <div class="pileCards">
                    <span>
                        <p class="playerNames">The Prize</p>
                        <p class="playerNames">&#x2B07;</p>
                        <img class="cardsDisplay" src="/cards/<%= game.valueCard %>.png">
                    </span>
            </div>

        <div class="player2Cards">
            <form method="POST" action="/game/<%= gameId %>/play">
                <p class="playerNames"><%= game.username %> &#x1F937;&#x200D;&#x2642;&#xFE0F;</p>
                    <% game.hand1.forEach(function(card) { %>
                    <span>
                        <input type="image" src="/cards/<%= card %>.png" name="card" class="cardsDisplay" value="<%= card %>">
                    </span>
                    <% }) %>
            </form>
        </div>
    </div>

     <div class="scoreBoard">
        <p>Bot Score: <%= game.score1 %> </p>
        <p>Human Score: <%= game.score2 %> </p>

         <% if (game.over === true)  { %>
          <div><p><%= game.winner %> wins!</p>
            <% if (game.winner === "Bot")  { %>
            <iframe src="https://giphy.com/embed/9MFsKQ8A6HCN2" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hehehe-hehehehe-9MFsKQ8A6HCN2"></a></p>
            <% } else { %>
                <iframe src="https://giphy.com/embed/l0HUnQR733uhm48UM" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/ptm-l0HUnQR733uhm48UM"></a></p>
                <% }%>
              <form method="post" action="/game/new">
                <button type="submit">Play again?</button>
              </form>
            </div>
          <% }%>
      </div>

   <!-- <pre><%= JSON.stringify(game, null, 2) %></pre> -->


</body>
</html>
