 <!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Goofspiel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
    <!-- <script src="app.js"></script> -->
</head>
<body>
    <div class=cardContainer>
        <div class=player1Cards>
        <p>Player 1:</p>
            <% game.hand2.forEach(function(card) { %>
                <span type="sumbit" name="card" value="<%= card %>">
                    <img class="cardsDisplay" src="/cards/<%= card %>.png" />
                </span>
            <% }) %>
        </div>

        <div class=player2Cards>
        <p>Player 2:</p>
            <form method="POST" action="/game/<%= gameId %>/play">
            <% game.hand1.forEach(function(card) { %>
            <span>
                <input type="image" src="/cards/<%= card %>.png" name="card" class="cardsDisplay" value="<%= card %>">
            <% }) %>
            </form>
        </div>
    </div>

   <pre><%= JSON.stringify(game, null, 2) %></pre>

     <div class="scoreBoard"><h6>Player 1 Score: <%= game.score1 %> </h6>
     <h6>Player 2 Score: <%= game.score2 %> </h6>

         <% if (game.over === true)  { %>
            <% if (game.score1 > game.score2){ %>
          <div><h6>player 1 wins</h6>
              <form method="post" action="/game/new">
                <button type="submit">Play again?</button>
              </form>
            </div>
            <% } else {%>
         <div><h6>player 2 wins</h6>
              <form method="post" action="/game/new">
                <button type="submit">Play again?</button>
              </form>
         </div>
            <% }%>
          <% }%>
      </div>
</body>
</html>
