 <!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Goofspiel</title>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css"/>
    <!-- <script src="app.js"></script> -->
</head>
<body>
    <% if (game.war1)  { %>
    <div class="cardContainer">

            <div class="warCard2">
                    <span>

                        <p class="playerNames"><%= game.botname %></p>
                        <img class="cardsDisplay" src="/cards/<%= game.war1 %>.png">
                    </span>
            </div>

            <div class="warCard1">
                    <span>
                        <p class="playerNames"><%= game.username %></p>
                        <img class="cardsDisplay" src="/cards/<%= game.war2 %>.png">
                    </span>
            </div>
            <form method="post" action="/game/war/<%= gameId %>">
                <button type="submit"> &#x1F4A3; WAR! &#x1F4A5; </button>
              </form>
    </div>
    <% }%>

     <div class="scoreBoard">
        <p><%= game.botname %>'s Score: <%= game.score1 %> </p>
        <p><%= game.username %>'s Score: <%= game.score2 %> </p>

         <% if (!game.war1)  { %>
          <div><p><%= game.winner %> wins!</p>
            <% if (game.winner === game.botname)  { %>
            <iframe src="https://giphy.com/embed/9MFsKQ8A6HCN2" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/hehehe-hehehehe-9MFsKQ8A6HCN2"></a></p>
            <% } else { %>
                <iframe src="https://giphy.com/embed/l0HUnQR733uhm48UM" width="480" height="320" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/ptm-l0HUnQR733uhm48UM"></a></p>
                <% }%>
              <form method="get" action="/">
                <button class="war-button" type="submit">Play again?</button>
              </form>
            </div>
          <% }%>
      </div>

   <!-- <pre><%= JSON.stringify(game, null, 2) %></pre> -->


</body>
</html>